
.box-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  margin-top: 2rem;
}

.box {
  width: 100%;
  aspect-ratio: 1;
  background-color: #eab308;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}
