.card{
  width: 250px;
  height: 250px;
  background: linear-gradient(to bottom, #1dd1a1, #54a0ff);
  border-radius: 40px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: scale(0.8);
}